
<div class="container" [hidden]="subbmit">
  <h1>Hero Form</h1>
  <!-- {{diagnostic}} -->
  <form (ngSubmit)="onSubmit()" #heroForm = "ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required
            [(ngModel)] = "model.name" name="name" 
            #name = "ngModel" 
      >
      <div [hidden] = "name.valid || name.pristine"
        class="alert alert-danger"
      >
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="alterEgo" required
            [(ngModel)] = "model.alertEgo" name="alertEgo"
      >
      TODO: remove this: {{model.alertEgo}}
    </div>

    <div class="form-group">
      <label for="power">Hero power</label>
      <select class="form-control" id="power" required
      [(ngModel)] = "model.power" name="power"
      >
        <option [value] = "pow" *ngFor="let pow of powers"
                
        >
          {{pow}}
        </option>
      </select>
    </div>
    
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>

    <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset();subbmit=false" > New Hero</button>
  </form>

</div>